 #header{
    height:60px;
    background-color: fuchsia;

}

body{
    background-color: aqua;
}

#body{

}
#footer{
    height:60px;
    background-color: fuchsia;
    padding-top: 10px;
    /*margin-top: 600px;*/
}

#syxl,#syxl1,#syxl2,#syxl3,#syxl4,#syxl5{
    width:102px;
    height: 44px;
   margin-top: 2px;
}

#index,#recom,#contact,#event{
    width:155px;
    height:50px;
     background-color: fuchsia;
    color: yellow;
    font-size: 20px;

}

p{
    align: center;
    font-size: 38px;
}

#face{
    display: block;
    font-size: 50px;
}

#address{
    display: block;
    font-size: 50px;
    color:blue;
}
#tel{
    display: block;
    font-size: 50px;
    color:blue;
}


td{
    font-size: 24px;
}

#im1,#im2,#im3,#im4,#im5,#im6,#logo {
    width:200px;
    height:300px;
}
